body {
  background-image: url('as11-44-6551~orig.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Orbitron', sans-serif;
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.banner {
    background: url('starry-background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

#countdown {
    font-size: 3em;
    margin-bottom: 20px;
}

.content h1 {
    margin: 0;
    font-size: 2em;
}

.subtext, .quote {
    font-size: 1.2em;
    margin-top: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #444;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #666;
}
